<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project2225.perfectscore"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="15" />
	
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    
    <application
        
        android:allowBackup="true"
        android:icon="@drawable/ic_wrong_answer"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light.NoActionBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:windowSoftInputMode="stateAlwaysHidden"
            android:name="AddActivity"
            android:label="오답 추가"
            android:icon="@android:color/transparent"></activity>
        <activity
            android:name="ListActivity"
            android:label="오답 목록"
            android:icon="@android:color/transparent"></activity>
        <activity
            android:name=".QuestionActivity"
            android:label="문제"
            android:icon="@android:color/transparent"></activity>
        <activity
            android:name="ShareActivity"
            android:label="공유"
            android:icon="@android:color/transparent"></activity>
        <activity
            android:name="SettingActivity"
            android:label="설정"
            android:icon="@android:color/transparent"></activity>
        <activity android:name="SendActivity"
            android:label="문제 보내기"
            android:icon="@android:color/transparent"></activity>
    </application>

</manifest>
